/*===== GOOGLE FONTS =====*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@font-face {
  font-family: Airbnb;
  src: url('../font/AirbnbCerealMedium.ttf') format('truetype');
}

/*===== VARIABLES CSS =====*/

:root {
  /*===== Colors =====*/
  --primary-color: #1b237c;
  --secondary-color: #090433;
  --white-color: #F7F6FB;
  --accent-color: #f0a500;
  --body-font: 'Nunito', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  color: #25274D;
}

.landing-page {
  font-family: Airbnb;
  display: grid;
  place-items: center;
  font-size: 1.5em;
  text-align: center;
  padding: 12% 5%;
  height: auto;
  background-attachment: fixed;
  background-image: url('../Group 4.png');
  /* background-image: url('../assets/img/la-coccinelle-AtKCvMQtjBU-unsplash.png'); */
  background-position: right;
  background-size: cover;
}

.name {
  font-size: 3em;
  font-weight: 600;
}

.description {
  font-size: 1.5em;
}

.time {
  font-weight: bolder;
  padding: 5%;
}

@media screen and (max-width:768px) {
  .name {
    font-size: 1.75em;
    font-weight: 600;
  }
  .description {
    font-size: 1.25em;
  }
  .time {
    font-weight: bolder;
    padding: 5%;
  }
}

.about-heading {
  font-size: 3em;
  font-weight: 700;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40D3DC;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #40D3DC;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radios1:checked~.navigation-auto .auto-btn1 {
  background: #40D3DC;
}

#radios2:checked~.navigation-auto .auto-btn2 {
  background: #40D3DC;
}

#radios1:checked~.first {
  margin-left: 0;
}

#radios2:checked~.first {
  margin-left: -20%;
}

#radios1:checked~.first {
  margin-left: 0;
}

#radios2:checked~.first {
  margin-left: -20%;
}

#radios1:checked~.navigation-auto .auto-btn1 {
  background: #40D3DC;
}

#radios2:checked~.navigation-auto .auto-btn2 {
  background: #40D3DC;
}